**/.bsp
**/target/
**/.settings/
**/.cache*
**/.classpath
**/.project
**/project/project
**/project/target
**/dependency-reduced-pom.xml
**/.idea
**/*.iml
**/metastore_db/
!**/project/plugins.sbt
!.gitignore
**/*.sc

**/*.jar
derby.log*
**/spark-warehouse